/* https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select { 
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    --main-red: #b40f0f;
    --main-red-2: #c81011;
    --main-red-3: #eb0a2b;
    --main-black-1: #212021;
    --fb-color-black-text: #050505;
    --fb-color-secondary-text: #65676b;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    /* background-color: purple; */
    /* font-family: "Cursive", "Roboto", sans-serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 100%;
}

.black-background {
    background-color: var(--main-black-1);
}

.red-background {
    background-color: var(--main-red);
}

.red-background-schedule {
    background-color: var(--main-red);
}

@media screen and (max-width: 992px) {
    .red-background-schedule {
        background-color: white;
        border: 2px red solid;
    }
}


.white-color {
    color: #ffffff;
}


.white-color-schedule {
    color: #ffffff;
}

@media screen and (max-width: 992px) {
    .white-color-schedule {
        color: var(--main-black-1);
    }
}

.smallcaps {
    font-variant: small-caps;
}

h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h3 {
    font-family: "Roboto", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.container-height {
    min-height: 100%;
}

.navbar {
    align-items: baseline;
}

.margin-right-auto {
    margin-right: 300px;
}
.navbar-nav {
    gap: 80px;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        gap: 20px;
    }
}

.breadcrumb-item-inactive > a {
    text-decoration: none;
    color: var(--main-black-1);
    transition: all 250ms;
}

.breadcrumb-item.active  {
    color: var(--main-black-1);
    transition: all 250ms;
}

.breadcrumb-item > a:hover {
    color: var(--main-red);
    font-weight: 600;
    /* text-decoration: underline; */
}


.breadcrumb-item.active:hover{
    color: var(--main-red);
    font-weight: 600;

}


header {
    border-bottom: 1px dotted hsl(0deg 0% 0% / 0.2);
}

section {
    margin-bottom: 1rem;
    margin-bottom: 5rem;
}

.hr-info {
    margin-bottom: 5rem;
    background-color: var(--main-black-1);
    width: 20%;
    height: 5px;
    margin: 0px auto 5rem auto;
    opacity: 1;
    border: none;
}

.header-and-hero {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.carousel {
    flex-grow: 1;
}

.carousel-item img {
    margin: 0 auto;
    /* this will align the image to center. */
    width: auto;
    /*for those images which don't have a width specified, but has a max-height will be auto adjusted*/
}

.trainhard {
    /* font-size: 4rem; */
    font-size: 1.5rem;
    font-size: clamp(1.5rem, -1rem + 6.666666666666667vw, 4rem);
    font-weight: 700;
    flex: 0 0 5rem;
    text-align: center;
    margin: 10px auto;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 70vh;
    overflow: hidden;
}

.h2-schedule {
    font-size: calc(1.325rem + 1.1vw);
    margin-bottom: 2rem;
}


.h3-schedule {
    color: var(--main-red);
}


.card-img {
    display: inline-block;
    width: 16px;
}
.card-fb-name {
    /* font-size: .83rem; */
    color: var(--fb-color-black-text);
}

.card-fb-recommends {
    width: 19px;
    height: 19px;
    display: inline-block;
    position: relative;
    top: -3px;

}

.card-fb-recommends-text {
    color: var(--fb-color-secondary-text);
    /* font-size: .83rem; */
    font-weight: 400;
}

.card-fb-business {
    color: var(--fb-color-black-text);
    /* font-size: .83rem; */
}

.card-fb-via {
    /* font-size: .83rem; */
    font-weight: 400;
}

.card-fb-globe {
    display: inline-block;
    width: 13px;
    height: 13px;
    position: relative;
    top: -1px;
    left: 2px;
}
.card-fb-globe {
    font-weight: 200;
}  
.card-google-star {
    color: gold;
}
.card-fb-review {
    padding: 0px 30px 0px 0px;
    line-height: 1.5;
    font-weight: 400;
}
.last-time {
    margin-bottom: 2rem;
}


.swiper {
    width: 90%;
    padding: 0px 25px;
    height: 600px;
  }

  .swiper-wrapper {
    gap: 15px;
  }
  .swiper-slide {
    flex: 1 0 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
  }

.form-button {
    background-color: var(--main-red-2);
    color: white;
    border-radius: 8px;
}

.form-button:hover {
    background-color: var(--main-red-3)
}

.form-max-width{
    width: clamp(250px, 75%, 600px);
}

.container-min-width {
    min-width: 325px;
}
input:hover,
input:active,
textarea:hover {
    border: 1.5px var(--main-red-3)solid;
}

.email {
    text-decoration: none;
    color: #222222;
}

.email:hover {
    text-decoration: underline;
    color: var(--main-red-2);
}


.contact-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1rem;
    align-items: center;
    margin-left: 10px;
}

.grow {
    height: 100%;
}

.flex-nogrow {
    flex: 0 0 1;
}
.contact-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
}

.active {
    text-decoration: underline;
}

.names {
    font-family: "Roboto Serif", serif
}
.names-belt {
    color: var(--fb-color-secondary-text);
}
.bio-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}
.bio-box-img {
    flex: 1 0 25px;
}
.bio-box-bio {
    flex: 3 0 50px;
}

@media screen and (max-width: 768px) {
    .bio-box {
        flex-wrap: wrap;
    }
    .bio-box-img {
        flex: 0 0 100%;
    }
    .bio-box-bio {
        flex: 0 0 100%;
    }
}

.bio-box-img {
    width: 100%;
}
.bio-p {
    font-weight: 400;
}

.bio-ul{
    font-weight: 400;
}
.facilities-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.facilities-img {
    flex: 1 0 50%;
}
.facilities-blurb {
    flex: 1 0 50%;
}

.bio-large {
    display: block;
}
.bio-small {
    display: none;
}
@media screen and (max-width: 768px) {
    .facilities-box {
        flex-wrap: wrap;
    }
    .facilities-img {
        flex: 0 0 100%;
    }
    .bio-large {
        display: none;
    }
    .bio-small{
        display: block;
    }
}

/* body { */
/* height: 100%;
      font-family: "Roboto", sans-serif;
      max-width: 90rem;
      margin: 0px auto; */
/*   
  }
  
  .bg-body-tertiary {
    background-color: purple;
  }
  
  h2 {
    font-size: 2.25rem ;
  }
  header{
      /* height: 10rem; */
/* flex: 0 0 10/rem; */
/* }
  
  .h2-labels {
    margin-bottom: 3rem;
  }
  
  header > nav {
      padding: 12px;
      border-bottom: 1px dotted hsl(0deg 0% 0% / 0.2);
  }
  nav > ul  {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 5rem;
  
  }
  
  
  nav > ul > li {
      display: inline-block;
      font-size: 1.77rem;
      font-weight: 600;
  }
  
  nav > ul > li > a:link, nav > ul > li > a:visited {
    display: inline-block;
    font-size: 1.77rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
  }
  
  nav > ul > li > a:hover, nav > ul > li > a:active {
    display: inline-block;
    font-size: 1.77rem;
    font-weight: 600;
    text-decoration: none;
  }
  
  
  
  .logo {
      margin-right: auto;
  }
  
  main {
      min-height: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
  
  }
  
  .header-and-hero {
      display: flex;
      flex-direction: column;
      min-height: 100%;
  }
  .carousel {
      flex-grow: 1;
  
      
  }
  
  .carousel-item img {
    margin: 0 auto; /* this will align the image to center. */
/* width: auto; /* for those images which don't have a width specified, but has a max-height will be auto adjusted */
/* } 
  
  .trainhard {
      font-size: 4rem;
      font-weight: 700;
      flex: 0 0 5rem;
      text-align: center;
  }
  
  
  .carousel-item img {
      object-fit: cover;
      object-position: center;
      height: 70vh; 
      overflow: hidden;
    }
  
  
  .chief-alera {
      margin: 0px auto;
  }
    
  
  
  
  .contact-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 3rem; */
/* }
  
  .contact-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact-right {
    flex: 1;
  }
  
  
  .form-spacing {
    padding-bottom: 1rem;
  }
  
 
  
 
  
  .form-button:hover {
    background-color: var(--main-red-3)
  }
  
  input:hover, input:active, textarea:hover {
    border: 1px black solid;
  }
  
  .email {
    text-decoration: none;
    color: #222222;
  }
  
  .email:hover {
    text-decoration: underline;
    color: var(--main-red-2); */
/* }  */